*{
    font-family :sans-serif;
}
.parent-div{
    background-color: #000000;
    padding: 10px;
    height: 8vh;
    align-items: center;
    justify-content: center;
}

.link-title{
    color: white;
    font-family: 'GT America Standard';
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
}

.link-title:hover{
    text-decoration: underline;
    opacity: 0.8;
    transition: all 0.5s ease-out;
}

.link-logo{
    color: white;
    font-family: 'GT America Standard';
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
}

.link-logo:hover{
    opacity: 0.7;
    transition: all 0.4s;
}